<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GD超次元.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D716559C1CCE73FE003CE4B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D71655B51CCE73FE003CE4B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D71655C01CCE73FE003CE4B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
